body {
  margin: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

main {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  margin: 20px;
  color: hsl(34, 78%, 71%);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
}

.todoInput {
  width: 100%;
  border: 1px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
}

.todoInput input {
  border: none;
  /* padding: 10px 30px; */
  height: 40px;
  width: 100%;
}

.todoInput input:focus {
  background-color: transparent;
  outline: none;
}

.todoInput input::placeholder{
  color: #b3b3b3;
}

.todoInput div {
  /* width: ; */
  transform: rotate(90deg);
  margin: 0 10px;
}

.todoInput button {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
}

ul {
  width: 100%;
  padding: 0;
  border: 1px solid #fff;
  text-align: start;
  margin: 0;
  list-style-type: none;
}


ul li {
  height: 44px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

/* ul li:last-child{
  border-bottom: none;
} */

ul li input {
  border-radius: 100%;
  width: 25px;
}

ul li label{
  width: 100%;
}

ul li:hover{
  color: hsl(0, 0%, 70%);
}

.todoDone {
  text-decoration: line-through;
  color: #b3b3b3;
}

.bot{
  color: #808080;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bot button {
  color: #808080;
  background-color: transparent;
  border: none;
}

.bot .btns button{
  border-radius: 5px;
  padding: 5px;
}